 a:link {
  color: blueviolet;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: red;  
  background-color: transparent;
  text-decoration: none;
}
  
a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}
  
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}