/*The following three IDs below (i.e. nestedgridblog1,2,3) are nested within the .content class, as structured in the HTML */
#nestedgridblog1 {
  border: 1px solid black;
  height: 300px;
  width: 400px;
  margin: 1%;  
  background-image: url("./images/html5image.jpg");  /* Photo by Svilen Milev downloaded from FreeImages.com */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  caption-side:initial;
}

#nestedgridblog2 {
  border: 1px solid black;
  height: 300px;
  width: 400px;
  margin: 1%; 
  background-image: url("./images/cssimage.jpg"); /* Photo by Svilen Milev downloaded from FreeImages.com */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#nestedgridblog3 {
  border: 1px solid black;
  height: 300px;
  width: 400px;
  margin: 1%; 
  background-image: url("./images/uniximage.jpg");  /* Photo by Dominik Rusiecki downloaded from FreeImages.com */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

figcaption {
  height: 15px;
  background-color: gray;
  color: white;
  font-style: italic;
  padding: 1px;
  text-align: center;
  font-size: 12px;
}
